<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blush Bar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <div class="container">
            <h1>Blush Bar</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Inicio</a></li>
                    <li><a href="{{ url_for('productos') }}">Productos</a></li>
                    <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                    <li><a href="#carrito">Carrito (<span id="cart-count">0</span>)</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section id="slider-x">
            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="{{ url_for('static', filename='img/img1.avif') }}" alt="Imagen 1">
                    </div>
                    <div class="slide"><img src="{{ url_for('static', filename='img/img2.jpg') }}" alt="Imagen 2"></div>
                    <div class="slide"><img src="{{ url_for('static', filename='img/img3.jpg') }}" alt="Imagen 3"></div>
                </div>
                <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                <button class="next" onclick="moveSlide(1)">&#10095;</button>
            </div>
        </section>
        <section id="home" class="hero">
            <div class="container">
                <h2>Bienvenido a Blush Bar</h2>
                <p>Tu tienda de maquillaje favorita</p>
            </div>
        </section>
        <h2 class="productos-destacados">Productos Destacados</h2>
        <section id="productos" class="container">
            <div class="product" data-name="Labial Rojo" data-price="10">
                <img src="{{ url_for('static', filename='img/img4.jpg') }}" alt="Producto 1" />
                <h3>Labial Rojo</h3>
                <p>Un labial de larga duración con un color vibrante.</p>
                <button class="boton-carrito" onclick="addToCart(this)">Añadir al Carrito</button>
            </div>
            <div class="product" data-name="Sombra de Ojos" data-price="15">
                <img src="{{ url_for('static', filename='img/img5.jpg') }}" alt="Producto 2" />
                <h3>Sombra de Ojos</h3>
                <p>Paleta de sombras con colores intensos y duraderos.</p>
                <button class="boton-carrito" onclick="addToCart(this)">Añadir al Carrito</button>
            </div>
            <div class="product" data-name="Base de Maquillaje" data-price="20">
                <img src="{{ url_for('static', filename='img/img6.jpg') }}" alt="Producto 3" />
                <h3>Base de Maquillaje</h3>
                <p>Base líquida para un acabado perfecto.</p>
                <button class="boton-carrito" onclick="addToCart(this)">Añadir al Carrito</button>
            </div>
        </section>
        <section id="carrito" class="container">
            <div>
                <h2>Carrito de Compras</h2>
            </div>
            <div id="cart-items">
                <p>Tu carrito está vacío</p>
            </div>
            <button onclick="checkout()">Pagar</button>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Blush Bar. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>